<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.phlyingwaylstudios.kaolin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ProjectOverview"
            android:label="@string/activityTitle_projectOverview"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewProject"
            android:label="New Project"
            android:parentActivityName=".ProjectOverview" />
        <activity
            android:name=".EditPhases"
            android:label="Edit Phases"
            android:parentActivityName=".ProjectOverview" />
        <activity
            android:name=".AddTasks"
            android:label="Add Tasks"
            android:parentActivityName=".ProjectOverview"/>
    </application>

</manifest>
